@charset "UTF-8";

/*цвет освноной надписи и обводки кружков*/

/*цвет marketing*/

.dev {
  display: block;
}

.dev .st0 {
  fill: #ffffff;
}

.dev .st2 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
}

.dev .st3 {
  fill: #ffffff;
}

.dev -wrap {
  display: inline-block;
}

.dev__logo {
  max-width: 100%;
}

.dev__logo svg * {
  -webkit-transition: fill .5s ease;
  transition: fill .5s ease;
}

.dev__logo .st1 {
  fill: transparent;
  -webkit-transition: fill .2s ease;
  transition: fill .2s ease;
}

.dev__logo:hover svg * {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}

.dev__logo #XMLID_138_ {
  -webkit-animation: logo_roobin-anim 2s linear infinite;
          animation: logo_roobin-anim 2s linear infinite;
  -webkit-animation-delay: 1.33s;
          animation-delay: 1.33s;
}

.dev__logo #XMLID_140_ {
  -webkit-animation: logo_roobin-anim 2s linear infinite;
          animation: logo_roobin-anim 2s linear infinite;
  -webkit-animation-delay: 1.67s;
          animation-delay: 1.67s;
}

.dev__logo #XMLID_146_ {
  -webkit-animation: logo_roobin-anim 2s linear infinite;
          animation: logo_roobin-anim 2s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.dev__logo #XMLID_144_ {
  -webkit-animation: logo_roobin-anim 2s linear infinite;
          animation: logo_roobin-anim 2s linear infinite;
  -webkit-animation-delay: 0.33s;
          animation-delay: 0.33s;
}

.dev__logo #XMLID_142_ {
  -webkit-animation: logo_roobin-anim 2s linear infinite;
          animation: logo_roobin-anim 2s linear infinite;
  -webkit-animation-delay: 0.67s;
          animation-delay: 0.67s;
}

.dev__logo #XMLID_136_ {
  -webkit-animation: logo_roobin-anim 2s linear infinite;
          animation: logo_roobin-anim 2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes logo_roobin-anim {
  0%, 80% {
    fill: transparent;
  }

  20%, 25% {
    fill: #e56951;
  }
}

@keyframes logo_roobin-anim {
  0%, 80% {
    fill: transparent;
  }

  20%, 25% {
    fill: #e56951;
  }
}

