@font-face {
  font-family: "Lato";
  src: url(/fonts/LatoRegular.eot?bfcfb36fd6d883b0cb738881a0d01617);
  src: url(/fonts/LatoRegular.eot?bfcfb36fd6d883b0cb738881a0d01617) format("embedded-opentype"), url(/fonts/LatoRegular.woff?be5acba9675aaffbeec76acd99f96488) format("woff"), url(/fonts/LatoRegular.ttf?1835f7d3644d5bb0f03ed5fdb40898d4) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url(/fonts/LatoBold.eot?55286ac73d276136be1442cba0b31d0d);
  src: url(/fonts/LatoBold.eot?55286ac73d276136be1442cba0b31d0d) format("embedded-opentype"), url(/fonts/LatoBold.woff?a0ca2cecf74466e56d30ce73067707f4) format("woff"), url(/fonts/LatoBold.ttf?8f2be703781ed1f073f2d5eaea006304) format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Lato";
  src: url(/fonts/LatoLight.eot?0b2967bca4315264b6d62b5d8cf2b509);
  src: url(/fonts/LatoLight.eot?0b2967bca4315264b6d62b5d8cf2b509) format("embedded-opentype"), url(/fonts/LatoLight.woff?88ed952df90974932cf540e13c9fb8d8) format("woff"), url(/fonts/LatoLight.ttf?c9064bf904221c68cbdaf2b237b18cb2) format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SFUIDisplay-black";
  src: url(/fonts/SFUIDisplay-Black.otf?51599097d5a1e83607219a1ae049e225);
}

@font-face {
  font-family: "SFUIDisplay-bold";
  src: url(/fonts/SFUIDisplay-Bold.otf?e74a588660b12c92e337784a7d785004);
}

@font-face {
  font-family: "SFUIDisplay-heavy";
  src: url(/fonts/SFUIDisplay-Heavy.otf?f8ca191d1b91fc5ac812a8db5434a46e);
}

@font-face {
  font-family: "SFUIDisplay-light";
  src: url(/fonts/SFUIDisplay-Light.otf?e9b4109ff303b31a03edf7427a80694d);
}

@font-face {
  font-family: "SFUIDisplay-regular";
  src: url(/fonts/SFUIDisplay-Regular.otf?b439844c3936774c3be2bf4faac014e0);
}

