.header--form {
  display: grid;
}

.admin--input {
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
}

.form--btn {
  margin-top: 5px;
  border: none;
  text-decoration: none;
  margin-right: auto;
  cursor:pointer;

  padding-left: 24px;
  padding-right: 24px;

  opacity: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

.form--btn::before {
  content: '';
  opacity: 0 !important;
}

.modals--btn {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 10px;
  margin-right: 10px;
  opacity: 1 !important;
  display: inline-block !important;
}

#modal_form_tel, #modal_form_change_bg {
	border-radius: 5px;
	background: white;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	opacity: 0;
	padding: 40px;
	display: none;
	z-index: 12;
}

#modal_form_tel #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

.tel, .working_hours {
  text-align: center;
}
