$dev-color-main: #ffffff; /*цвет освноной надписи и обводки кружков*/
$dev-color-secondary: #ffffff; /*цвет marketing*/
$dev-anim-fill: #e56951;
.dev{

	display:block;

	.st0{fill:$dev-color-main;}
	.st2{fill:none;stroke:$dev-color-main;stroke-miterlimit:10;}
	.st3{fill:$dev-color-secondary;} 
	-wrap{display:inline-block;}
	&__logo{
		max-width: 	100%;
		& svg *{
			transition:fill .5s ease;
		}
		& .st1{
			fill:transparent;
			transition:fill .2s ease;
		}
		&:hover svg *{
			animation-play-state:paused !important;
		}
		& #XMLID_138_{
			animation:logo_roobin-anim 2s linear infinite;
			animation-delay:1.33s;
		}
		& #XMLID_140_{
			animation:logo_roobin-anim 2s linear infinite;
			animation-delay:1.67s;
		}
		& #XMLID_146_{
			animation:logo_roobin-anim 2s linear infinite;
			animation-delay:2s;
		}
		& #XMLID_144_{
			animation:logo_roobin-anim 2s linear infinite;
			animation-delay:0.33s;
		}
		& #XMLID_142_{
			animation:logo_roobin-anim 2s linear infinite;
			animation-delay:0.67s;
		}
		& #XMLID_136_{
			animation:logo_roobin-anim 2s linear infinite;
			animation-delay:1s;
		}
	}
}
@keyframes logo_roobin-anim{0%,
	80%{fill:transparent;}
	20%,
	25%{fill:$dev-anim-fill;}
}
