@font-face {
	font-family: "Lato";
	src: url("../fonts/LatoRegular/LatoRegular.eot");
	src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
	url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/LatoBold/LatoBold.eot");
	src: url("../fonts/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/LatoBold/LatoBold.woff") format("woff"),
	url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}


@font-face {
	font-family: "Lato";
	src: url("../fonts/LatoLight/LatoLight.eot");
	src: url("../fonts/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/LatoLight/LatoLight.woff") format("woff"),
	url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}


// ***************************************



@font-face {
	font-family: "SFUIDisplay-black";
	src: url("../fonts/SFUIDisplay/SFUIDisplay-Black.otf");
}
@font-face {
	font-family: "SFUIDisplay-bold";
	src: url("../fonts/SFUIDisplay/SFUIDisplay-Bold.otf");
}
@font-face {
	font-family: "SFUIDisplay-heavy";
	src: url("../fonts/SFUIDisplay/SFUIDisplay-Heavy.otf");
}
@font-face {
	font-family: "SFUIDisplay-light";
	src: url("../fonts/SFUIDisplay/SFUIDisplay-Light.otf");
}
@font-face {
	font-family: "SFUIDisplay-regular";
	src: url("../fonts/SFUIDisplay/SFUIDisplay-Regular.otf");
}

