@mixin make-col($size, $columns: $grid-columns, $display: false) {
  @if $display {
    display: $display;
  }
  flex: 0 0 percentage($size / $columns);
  max-width: percentage($size / $columns);
}
@mixin make-media-cols($sizes, $display: block, $columns: $grid-columns){
  $oldValue: 0;
  @each $size,$value in $sizes {
    $width: map-get($grid-breakpoints,$size);
    @if $value != 0 {
      @include mq($size){
        @if $oldValue != 0 {
          @include make-col($value,$columns)
        }
        @else {
          @include make-col($value,$columns,$display)
        }
      } 
    }
    @else {
      @include mq($size){
        display: none;
      }
    }
    $oldValue: $value;
  }
}

$grid-breakpoints: (
  "def":          0,
  "phone":          400px,
  "phone-wide":        480px,
  "phablet":          560px,
  "tablet-small":        640px,
  "tablet":          768px,
  "tablet-wide":        1024px,
  "desktop":          1248px,
  "desktop-wide":        1440px
  ) !default;
$grid-columns:          12 !default;